body {
  background-color: var(--background);
  --scale: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

footer {
  padding: 20px 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}
