.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 15px;
}

header {
  position: relative !important;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  padding: 20px 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}
