#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative !important;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  padding: 20px 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  position: relative;
  bottom: 0;
}
